
body{
    background-color: #e1c39e;
}
#changeDay{
    background-color:black;
    padding:5px;
    font-size:16px;
    position: fixed;
    top:0;
    left:0;
}
#bigTitle{
    text-align: center;
    font-size: 100px;
}
#nexttext{
    font-size: 50px
}

#content{
    font-size: 50px;
    padding-top: 50px;
    font-weight: bold;
}
#stuffinit{
    font-size: 22px;
    padding-top: 0;
}
#table{
    padding-right: 350px;
}
.slideshow-container{
    padding-left: 200px;
}
#found{
    padding-top: 70px;
}
#company{
    padding-top: 5px;
    padding-left: 60px;
    padding-bottom: 80px;
}
p{
    margin-top: 15px;
    margin-bottom: 0;
}
#first{
    padding-left: 35px;
}
#second{
    padding-left: 35px;
}
#third{
    padding-left: 35px;
}
#margins_education{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 80px;
}
#margins_research{
    padding-top:20px;
    padding-left: 50px;
    padding-bottom: 80px;
}

#margin_duo{
    padding-top:20px;
    padding-left: 50px;
    padding-bottom: 100px;
}

h1{
    padding-left:20px;
}
#bottom_info{
    padding-left: 25px
}

#cap{
    padding-left: 43%;
}

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
}

#arrows{
    padding-right: 310px;

}

#leftClick{
    float:left;
}
#lefty, #righty{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin: auto;
    height: fit-content;
}
#rightClick{
    float:right;
}

.darkMode{
    a{
        color: #47ff00;
    }
}
