
body{
    background-color: #e1c39e;
}
#changeDay{
    background-color:black;
    padding:5px;
    font-size:16px;
    position: fixed;
    top:0;
    left:0;
}
#bigTitle{
    text-align: center;
    font-size: 100px;
}
#nexttext{
    font-size: 50px
}

#content{
    font-size: 40px
}
#stuffinit{
    font-size: 18px
}
#table{
    padding-left: 5px;
    float: right;
    margin-right: 8%;
}
#found{
    padding-top: 10px;
}
#company{
    padding-left: 30px;
}
p{
    margin-top: 15px;
    margin-bottom: 0;
}
#first{
    padding-left: 15px;
}
#second{
    padding-left: 15px;
}
#third{
    padding-left: 15px;
}
#margins_education{
    padding-top: 15px;
    padding-left: 45px;
    padding-bottom: 80px;
}
#margins_research{
    padding-top:15px;
    padding-left: 45px;
    padding-bottom: 80px;
}

#margin_duo{
    padding-top:15px;
    padding-left: 45px;
    padding-bottom: 100px;
}

h1{
    padding-left:20px;
}
#bottom_info{
    padding-left: 25px
}

#cap{
    padding-left: 27%;
}

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
}

#arrows{
    padding-right: 310px;

}

#leftClick{
    float:left;
}
#lefty{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
#righty{
    background-color: transparent;
    border: none;
    font-size: 20px;
}
#rightClick{
    float:right;
}

.darkMode{
    a{
        color: #47ff00;
    }
}
